@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set body background to match app */
html,
body {
  background-color: #f8f6f6;
  margin: 0;
  padding: 0;
}

/* Custom subtle pattern for cultural feel */
.cultural-pattern {
  background-color: transparent;
  background-image: radial-gradient(#ef4343 0.5px, transparent 0.5px),
    radial-gradient(#ef4343 0.5px, transparent 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 0.03;
}

/* Custom Dot Grid Pattern for Canvas */
.bg-dot-grid {
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
}
